<div class="modal fade" id="modalNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">Nuevo cliente:</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form>
	      <div class="modal-body">
	        
				<div class="form-group">
					<label ">NOMBRES</label>
					<input type="text" class="form-control" id="nombres1" value="" onkeyup="this.value=this.value.toUpperCase()">
				</div>
				<div class="form-group">
					<label ">CIUDAD</label>
					<input type="text" class="form-control" id="ciudad1" value="" onkeyup="this.value=this.value.toUpperCase()">
				</div>
				<div class="form-check form-check-inline">
					
					<label class="form-check-label">
						<input class="form-check-input" type="radio" name="exampler" id="alternativas1M" value="M">
					MASCULINO
					</label>
				</div>
				<div class="form-check form-check-inline">
					
					<label class="form-check-label">
						<input class="form-check-input" type="radio" name="exampler" id="alternativas1F" value="F">
					FEMENINO
					</label>
				</div>
				<div class="form-group">
					<label ">TELEFONO</label>
					<input type="text" class="form-control" id="telefono1" value="" onkeyup="this.value=this.value.toUpperCase()">
				</div>
				<div class="form-group">
					<label ">FECHA DE NACIMIENTO (CALENDARIO)</label>
					<input type="text" class="form-control" name="fecha_nacimiento" value="" id="datepicker1">
				</div>
				

	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-dark" id="enviar">ENVIAR</button>
			<button type="button" class="btn btn-dark" id="cancelar" data-dismiss="modal">CANCELAR</button>
	      </div>
	  </form>
	    </div>
	  </div>
	</div>